$color-main: #383838;

$text-color-main: #383838;
$text-color-sub: #666;
$text-color-desc: #999;
$text-color-other: #c0c0c0;

$line-color: #f0f0f0;

$heading-list: (
  h1: 36px,
  h2: 28px,
  h3: 24px,
  h4: 20px,
  h5: 16px,
  h6: 14px
);
