@import '../styles/base';
@import '@/styles/func.scss';

.profile {
  padding: 0 16px 8px;
  border-bottom: 1px solid $line-color;

  p {
    margin: 0;
    line-height: 1.5;

    span {
      font-weight: 600;
    }
  }

  .childList {
    @include flex(row);
    p {
      margin-right: 16px;
    }
  }

  :global {
    .title h1 {
      margin: 0;
      padding-bottom: 0;
    }
  }

  .itemKey {
    font-weight: 400;
    font-size: 14px;
    color: $text-color-sub;
    background-color: $line-color;
    padding: 2px 8px;
    margin-right: 8px;
  }
}
